**/__pycache__/
# Compiled files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# Temporary files
*.tmp
*.backup
*.bak
*.synctex
*.lof
*.lot
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg

.DS_Store
